
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');






html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

.bg1{
    background-color: #003C43;
}

.color-h{
    color: #04F2D5;
    font-size: 2rem;
    font-family: "Outfit";
}

.color-h:hover{
    color: #fff;
}

.img-ah{
    width: 40%;
    height: 70%;
}


/*segundo*/
.cont-general{
    display: flex;
    margin-top: 10rem;
    
}

.cont-general__contenido{
    margin-left: 10%;
    margin-top: 10rem;
}

h1{
    color: #003C43;
    font-size: 9rem;
    margin-bottom: 5rem;
    font-family: "Outfit";
}

.texto{
    font-size: 3rem;
    margin-bottom: 5rem;
    font-family: "Raleway", sans-serif;
}

.boton-ag{
    background-color: #003C43;
    color: #fff;
    padding: 1rem;
}


.boton-ag a{
    color: #FFFDFD;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
}


.img-ah2{
    width: 45%;
    height: 60rem;
    margin-left: 10%;
}
/*Fin segundo*/

/*Servicios*/

h2{
    font-size: 6rem;
    text-align: center;
    margin-top: 10rem;
    color: #003C43;
    font-family: "Outfit";
    font-weight:600;
}















/*Fin de servicios*/


@media(max-width: 520px ) {
    .navbar-brand{
        width: 80%;
    }
    
}