@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after{
    box-sizing: inherit;
}


/*Navbar*/

.bg1{
    background-color: #003C43;
}

.color-h{
    color: #04F2D5 !important;
    font-size: 2rem !important;
    font-family: "Outfit" !important;
}

.img-ah{
    width: 40% !important;
    height: 70% !important;
}

.color-h:hover{
    color: #fff !important;
}


@media(max-width: 520px ) {
    .navbar-brand{
        width: 80%;
    }
    
}


/*main {

}*/

.contenedor-experiencia {
    display: contents;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: auto auto; /* Dos filas, el tamaño se ajusta automáticamente */
    gap: 20px; /* Espacio entre los elementos */
    padding: 5rem; /* Permite a los hijos del contenedor seguir el grid del main */
}

.titulo-experiencia {
    grid-column: 1 / -1; /* Ocupa toda la fila, de la columna 1 a la última */
    padding-left: 9rem;
}

.titulo-experiencia h1{
    font-size: 8rem;
    text-align: left;
    font-family: "Outfit"
}

.contenido-experiencia {
    grid-column: 1 / 2; /* Ocupa la primera columna de la segunda fila */
    font-size: 2rem;
    padding-left: 11rem;
    padding-right: 11rem;
    font-family: "Outfit"
}

.imagen-experiencia {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-experiencia img {
    max-width: 100%;
    height: auto;
}


@media(max-width: 1200px ) {

    .contenedor-experiencia{
        grid-template-columns: 1fr;
    }

    .titulo-experiencia{
        grid-column: span 1;
    }

    .titulo-experiencia h1{
        justify-content: center;
        font-size: 5rem;
    }

    .contenedor-experiencia{
        justify-content: center;
        font-size: 1rem;
        grid-column: span 1;
    }

    .imagen-experiencia{
        grid-column: span 1;
    }
    
}


/*Preguntas frecuentes*/


#preguntas p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 1rem;
    margin-right: 2rem;
    max-width: 100%;
}


.preguntas-titulo{
    font-size: 5rem;
}

.descripcion-preguntas p{
    font-family: "Outfit" !important;
    font-size: 1.5rem !important;
}


.accordion-header{
    font-family: "Outfit"
}

.accordion-body{
    font-family: "Outfit"
}

.line-black{
    border-top: 5px solid #000;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: 1.2rem;
}



/*Agendar Cita*/

.contenedor-agenda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 5rem;
}

.image-agenda img{
    width: 70%;
    height: 100%;
    margin-left: 20rem;
}


/* Estilos generales para el contenedor del formulario */
.contenedor-form {
    padding: 4rem;
    background-color: #04F2D5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: 2;
    width: 70%;
    margin-left: 6rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 0.5rem;
}

.contenedor-form h2 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 3.5rem;
    font-family: "Outfit";
    font-size: 5rem;
}

/* Estilos para los campos que ocupan una columna completa */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.textarea {
    grid-column: span 2;
}

/* Estilos para el botón */
button {
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px !important;
    font-family: "Outfit" !important;
    font-size: 2rem !important;
    cursor: pointer !important;
}

button:hover {
    background-color: #fff;
    color: #000;
}

input,
select,
textarea {
    padding: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Outfit";
    font-size: 1.6rem;
}

textarea#comments{
    width: 100%;
    height: 30rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-family: "Outfit";
    font-size: 2rem;
}

@media(max-width: 1550px ) {

    .contenedor-agenda{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-agenda img{
        width: 70%;
        height: 100%;
        margin-left: 10rem;
    }


    textarea#comments{
        width: 100%;
        height: 20rem;
        resize: none;
    }

    .form-group label {
        margin-bottom: 0.5rem;
        font-family: "Outfit";
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem !important;
    }
    
}

@media(max-width: 1200px ) {

    .contenedor-agenda {
        grid-template-columns: 1fr;
    }

    .contenedor-form,
    .image-agenda {
        grid-column: span 1;
    }

    .contenedor-form {
        order: 1;
        margin: 0 auto;
    }

    .image-agenda {
        order: 2;
        margin: 0 auto;
    }
    
}

@media(max-width: 650px ) {

    form {
        grid-template-columns: 1fr;
    }

    .contenedor-form h2 {
        grid-column: span 1;
    }

    .form-group {
        grid-column: span 1;
    }

    .form-group.textarea,
    .form-group.button {
        grid-column: span 1;
    }

    .image-agenda {
        order: 2;
        padding-right: 20rem;
    }

    .image-agenda img{
        width: 100%;
        height: 100%;
        
    }
    
}



/*footer*/

.conteiner{
    max-width: 1280px;
    margin: 0 auto;
}
.footer{
    background-color: #003C43;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    font-weight: 700;
    /* border-bottom: 2px solid #04F2D5; */
    display: inline-block;
    padding-bottom: 10px;
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #000;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    /* background-color: #04F2D5; */
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000;
    transition: all .5s ease;
    font-size: 30px;
}

.social-link a:hover{
    background-color: #003C43
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }

}
.img-footer{
    width: 100px;
    height: auto;
}